/* Estilos CSS principal*/


#mainContainer{ /* Estilos predefinidos para el contenedor principal de las paginas externas */
	background-color: #546e7a;
}
 /* Estilos generales del menu */
#menuItems{
	box-shadow: 10px 10px #424242;
	margin-bottom: 20px;
}

#menuItems li{
	border: solid #616161 3px;
	margin-top: 20px;
}


#inicioMenu{
	background-color: #673AB7;
	height: 150px;
}

#registroMenu{
	background-color: #00897b;
	height: 150px;
}

#loginMenu{
	background-color: #c0ca33;
	height: 150px;
}

#nosotrosMenu{
	background-color: #fb8c00;
	height: 150px;
}

#preguntasMenu{
	background-color: #673AB7;
	height: 150px;
}
#reglasMenu{
	background-color: #00897b;
	height: 150px;
}

#menuItems li a{
	font-size: 1.5em;
	color: white;
	text-transform: bold;
}
  /* estilos titúlos principales */
#mainTitleIni{
	color: white;
	background-color: #673AB7;
	box-shadow: 10px #311b92;

}

#mainTitleNos{
	color: white;
	background-color: #fb8c00;
}

#mainTitlePre{
	color: white;
	background-color: #673AB7;
}

#mainTitleRe{
	color: white;
	background-color: #00897b;
}

#mainTitleReg{
	color: white;
	background-color: #00897b;
}

#imageContainer{  /* Estilos para la imagen de presentacion del inicio */
	height: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}
  /* Estilos para la sección Nosotros */
#quienesSomos{
	background-color: #fb8c00;
}

#quienesSomos h2{
	background-color: #e65100;
	color: white;
}

#quienesSomos p{
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

  /* Estilos de la sección Preguntas Frecuentes */

#PreguntasFrecuentes{
  	background-color: #673AB7;
  }
#PreguntasFrecuentes h2{
	background-color: #311b92;
	color: white;
}

#PreguntasFrecuentes p{
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

  /* Estilos de la sección Reglas de Juego */

#reglasDeJuego{
	background-color: #00897b;
}

#reglasDeJuego h2{
	background-color: #004d40;
	color: white;
}

#reglasDeJuego p{
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

  /* Estilos de registro */

#registro{
	background-color: #00897b;
}

#registro h2{
	background-color: #004d40;
	color: white;
}

#emailPassword{
	margin-bottom: 20px;
}

#emailDiv{
	padding-left: 15px;
}

#apellidoDiv{
	padding-left: 15px;
}

#nombreDiv, #emailDiv{
	margin-right: 20px;
}

#nombreApellido, label{
	margin-right: 10px;
}

#preguntaSeguridad{
	margin-bottom: 20px;
}

#registro label{
	color: white;
}

#linkFacebook, #linkTwitter, #linkInstagram{ /* estado inicial del footer mobile first */
	display: none;
}

@media (min-width: 768px) {  /* Estilos para tablets en adelante */
 /* Estilos del footer */
#facebook, #twitter, #instagram{
	margin-bottom: 20px;
}

#linkFacebook, #linkTwitter, #linkInstagram{
	display: inline;
}

#footerItems a{
	color: white;
	font-size: 1.2em;
}


}